html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.container {
  max-width: 100%;
  margin: 0 auto; }

* {
  box-sizing: border-box; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Arial", sans-serif;
  line-height: 2.4640657084vh;
  font-weight: 400;
  overflow: hidden;
  color: #fffffe;
  background: url("../img/body-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
  width: 100vw;
  height: 100vh; }

@keyframes top {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(10rem, 0); } }
@keyframes bottom {
  from {
    transform: translate(0, 0); }
  to {
    transform: translate(-10rem, 0); } }
.btn {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  color: #ffffff;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 1.5px;
  line-height: 24px;
  text-align: center;
  text-shadow: 0px 3px 18px rgba(0, 0, 0, 0.77);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s; }
  @media screen and (max-device-height: 854px) and (min-device-width: 320px) and (orientation: portrait) {
    .btn {
      font-size: 24px; } }
  .btn::after, .btn::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 18px 0px rgba(0, 0, 0, 0.77);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -2;
    border-radius: 50%; }
  .btn::before {
    background-color: #8d0404;
    top: -0.75rem;
    left: 0.5rem;
    animation: top 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate; }
  .btn::after {
    background-color: #ff2b2b;
    top: 3rem;
    left: 11.5rem;
    animation: bottom 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s infinite alternate; }
  .btn:hover {
    color: white; }
    .btn:hover::before, .btn:hover::after {
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 0;
      animation: none; }
    .btn:hover::after {
      left: -0.5rem; }
    .btn:hover::before {
      top: 0.5rem;
      left: 0rem; }

.header__logo {
  padding: 2.0533880903vh 0 2.0533880903vh 5.1334702259vh;
  background: url("../img/logo-bg.png") no-repeat; }
  .header__logo-link {
    color: #fffffe;
    font-size: 3.9014373717vh;
    letter-spacing: 0.0975359343vh;
    text-transform: uppercase;
    line-height: 2.4640657084vh;
    text-decoration: none; }

.title-brake {
  display: none; }

.main__nav {
  position: absolute;
  left: -0.5133470226vh;
  top: 10%;
  transform: translate(0%, 10%); }
.main__ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0; }
  .main__ul-list {
    width: 31.2114989733vh;
    height: 7.1868583162vh;
    padding: 2.1560574949vh 0 2.772073922vh 4.1067761807vh;
    margin: 0 0 3.0800821355vh 0;
    background: url("../img/bookmark.svg") no-repeat;
    text-decoration: none;
    font-family: 'ArialNarrow', sans-serif;
    color: #d7d7d7;
    font-size: 3.0800821355vh;
    transition: 0.3s ease all; }
    .main__ul-list:hover {
      text-indent: 5px; }
    .main__ul-list-last {
      padding: 2.1560574949vh 0 2.772073922vh 4.1067761807vh;
      background: url("../img/bookmark-green.svg") no-repeat; }
  .main__ul-tablet {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    list-style: none; }
    .main__ul-tablet-list {
      width: 31.2114989733vh;
      height: 7.1868583162vh;
      padding: 2.1560574949vh 0 2.772073922vh 4.1067761807vh;
      margin: 0 0 3.0800821355vh 0;
      background: url("../img/bookmark.svg") no-repeat; }
      .main__ul-tablet-list:last-child {
        background: url("../img/bookmark-green.svg") no-repeat; }
.main__title {
  font-size: 6.160164271vh;
  font-weight: 700;
  letter-spacing: 0.1540041068vh;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase; }
.main__text {
  font-size: 1.8480492813vh;
  letter-spacing: 0.046201232vh;
  line-height: 2.6694045175vh;
  margin: 3.2854209446vh 0 0 0;
  text-align: center; }
.main__link {
  color: #ffffff;
  height: 6.160164271vh;
  font-size: 3.0800821355vh;
  font-weight: 700;
  letter-spacing: 0.1540041068vh;
  padding: 1.8480492813vh 9.0349075975vh 1.9507186858vh;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }
.main__button {
  display: flex;
  justify-content: center;
  margin: 7.1868583162vh 0 0 0; }
.main__content {
  height: 33.8809034908vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/* Large Landscape */
@media screen and (min-device-height: 800px) and (max-device-width: 1366px) and (orientation: landscape) {
  .header__logo {
    padding: 1.5400410678vh 0 1.5400410678vh 3.0800821355vh; }
    .header__logo-link {
      font-size: 3.0800821355vh;
      letter-spacing: 0.0770020534vh;
      line-height: 2.4640657084vh; }

  .main__ul-list {
    margin: 0 0 2.0533880903vh 0; }
    .main__ul-list-link {
      font-size: 3.0800821355vh; }
  .main__title {
    font-size: 4.7227926078vh;
    letter-spacing: 0.1180698152vh; }
  .main__text {
    font-size: 1.6427104723vh;
    line-height: 2.2587268994vh;
    margin: 3.2854209446vh 0 0 0; }
  .main__link {
    font-size: 2.6694045175vh;
    letter-spacing: 0.1334702259vh;
    padding: 1.8480492813vh 7.2895277207vh; }
  .main__button {
    display: flex;
    justify-content: center;
    margin: 5.1334702259vh 0 0 0; } }
/* Large Portrait */
@media screen and (min-device-height: 800px) and (max-device-width: 1366px) and (orientation: portrait) {
  .header__logo {
    padding: 1.5400410678vh 0 1.5400410678vh 3.0800821355vh; }
    .header__logo-link {
      font-size: 3.0800821355vh;
      letter-spacing: 0.0770020534vh;
      line-height: 2.4640657084vh; }

  .main__ul-list {
    width: 19.5071868583vh;
    height: 5.1334702259vh;
    padding: 1.7453798768vh 0 1.7453798768vh 3.0800821355vh;
    margin: 0 0 2.0533880903vh 0; }
    .main__ul-list-last {
      padding: 1.7453798768vh 0 1.7453798768vh 3.0800821355vh; }
    .main__ul-list-link {
      font-size: 3.0800821355vh; }
  .main__title {
    font-size: 4.7227926078vh;
    font-weight: 700;
    letter-spacing: 0.1180698152vh; }
  .main__text {
    font-size: 1.6427104723vh;
    line-height: 2.2587268994vh;
    margin: 3.2854209446vh 0 0 0; }
  .main__link {
    font-size: 2.6694045175vh;
    letter-spacing: 0.1334702259vh;
    padding: 1.8480492813vh 7.2895277207vh;
    box-shadow: 0 0.3080082136vh 1.8480492813vh 0 rgba(0, 0, 0, 0.41); }
  .main__button {
    margin: 5.1334702259vh 0 0 0; } }
/* Medium portrait */
@media screen and (min-device-height: 600px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header__logo {
    padding: 1.5400410678vh 0 1.5400410678vh 3.0800821355vh; }
    .header__logo-link {
      font-size: 3.0800821355vh;
      letter-spacing: 0.0770020534vh;
      line-height: 2.4640657084vh; }

  .main__nav {
    width: 100%; }
  .main__ul-list {
    width: 20.5338809035vh;
    height: 5.1334702259vh;
    padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
    margin: 0 0 2.0533880903vh 0;
    font-size: 2.0533880903vh;
    background: url("../img/bookmark.svg") no-repeat; }
    .main__ul-list-last {
      padding: 1.7453798768vh 0 1.7453798768vh 3.0800821355vh;
      background: url("../img/bookmark-green.svg") no-repeat; }
    .main__ul-list-link {
      font-size: 2.0533880903vh; }
  .main__ul-tablet {
    position: absolute;
    right: -0.8213552361vh;
    top: 0;
    transform: translate(0%, 0%);
    list-style: none; }
    .main__ul-tablet-list {
      width: 20.5338809035vh;
      height: 5.1334702259vh;
      padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
      margin: 0 0 2.0533880903vh 0;
      font-size: 2.0533880903vh;
      background: url("../img/bookmark-left.svg") no-repeat !important; }
      .main__ul-tablet-list:first-child {
        background: url("../img/bookmark-left-green.svg") no-repeat !important; }
  .main__title {
    font-size: 4.7227926078vh;
    font-weight: 700;
    letter-spacing: 0.1180698152vh; }
  .main__text {
    font-size: 1.6427104723vh;
    line-height: 2.2587268994vh;
    margin: 3.2854209446vh 0 0 0; }
  .main__link {
    font-size: 2.6694045175vh;
    font-weight: 700;
    letter-spacing: 0.1334702259vh;
    padding: 1.8480492813vh 7.2895277207vh;
    box-shadow: 0 0.3080082136vh 1.8480492813vh 0 rgba(0, 0, 0, 0.41); }
  .main__button {
    margin: 5.1334702259vh 0 0 0; } }
/* Medium Landscape */
@media screen and (min-device-height: 600px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header__logo {
    padding: 1.5400410678vh 0 1.5400410678vh 3.0800821355vh; }
    .header__logo-link {
      font-size: 3.0800821355vh;
      letter-spacing: 0.0770020534vh;
      line-height: 2.4640657084vh; }

  .main__nav {
    width: 100%; }
  .main__ul-list {
    width: 20.5338809035vh;
    height: 5.1334702259vh;
    padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
    margin: 0 0 2.0533880903vh 0;
    font-size: 2.0533880903vh;
    background: url("../img/bookmark.svg") no-repeat; }
    .main__ul-list-last {
      padding: 1.7453798768vh 0 1.7453798768vh 3.0800821355vh;
      background: url("../img/bookmark-green.svg") no-repeat; }
    .main__ul-list-link {
      font-size: 2.0533880903vh; }
  .main__ul-tablet {
    position: absolute;
    right: -1.0266940452vh;
    top: 0;
    transform: translate(0%, 0%);
    list-style: none; }
    .main__ul-tablet-list {
      width: 20.5338809035vh;
      height: 5.1334702259vh;
      padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
      margin: 0 0 2.0533880903vh 0;
      font-size: 2.0533880903vh;
      background: url("../img/bookmark-left.svg") no-repeat !important; }
      .main__ul-tablet-list:first-child {
        background: url("../img/bookmark-left-green.svg") no-repeat !important; }
  .main__title {
    font-size: 4.7227926078vh;
    font-weight: 700;
    letter-spacing: 0.1180698152vh; }
  .main__text {
    font-size: 1.6427104723vh;
    line-height: 2.2587268994vh;
    margin: 3.2854209446vh 0 0 0; }
  .main__link {
    font-size: 2.6694045175vh;
    letter-spacing: 0.1334702259vh;
    padding: 1.8480492813vh 7.2895277207vh; }
  .main__button {
    margin: 5.1334702259vh 0 0 0; } }
/* iPad */
@media screen and (device-height: 1024px) and (device-width: 768px) and (orientation: portrait) {
  .header__logo {
    padding: 1.5400410678vh 0 1.5400410678vh 3.0800821355vh; }
    .header__logo-link {
      font-size: 3.0800821355vh;
      letter-spacing: 0.0770020534vh;
      line-height: 2.4640657084vh; }

  .main__nav {
    width: 100%; }
  .main__ul-list {
    width: 20.5338809035vh;
    height: 5.1334702259vh;
    padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
    margin: 0 0 2.0533880903vh 0;
    font-size: 2.0533880903vh;
    background: url("../img/bookmark.svg") no-repeat; }
    .main__ul-list-last {
      padding: 1.7453798768vh 0 1.7453798768vh 3.0800821355vh;
      background: url("../img/bookmark-green.svg") no-repeat; }
    .main__ul-list-link {
      font-size: 2.0533880903vh; }
  .main__ul-tablet {
    position: absolute;
    right: -1.0266940452vh;
    top: 0;
    transform: translate(0%, 0%);
    list-style: none; }
    .main__ul-tablet-list {
      width: 20.5338809035vh;
      height: 5.1334702259vh;
      font-size: 2.0533880903vh;
      padding: 1.0266940452vh 0 1.0266940452vh 3.0800821355vh;
      margin: 0 0 2.0533880903vh 0;
      background: url("../img/bookmark-left.svg") no-repeat !important; }
      .main__ul-tablet-list:first-child {
        background: url("../img/bookmark-left-green.svg") no-repeat !important; }
  .main__title {
    font-size: 4.7227926078vh;
    font-weight: 700;
    letter-spacing: 0.1180698152vh; }
  .main__text {
    font-size: 1.6427104723vh;
    line-height: 2.2587268994vh;
    margin: 3.2854209446vh 0 0 0; }
  .main__link {
    font-size: 2.6694045175vh;
    letter-spacing: 0.1334702259vh;
    padding: 1.8480492813vh 7.2895277207vh; }
  .main__button {
    margin: 5.1334702259vh 0 0 0; }
  .main__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); } }
.br-none {
  display: none; }

/* Small Portrait */
@media screen and (min-device-width: 320px) and (max-device-height: 854px) and (orientation: portrait) {
  .header__logo {
    padding: 15px 0 15px 30px; }
    .header__logo-link {
      font-size: 24px;
      letter-spacing: 0.6px;
      line-height: 24px; }

  .title-brake {
    display: block; }

  .br-none {
    display: none; }

  .main__content {
    height: auto; }
  .main__nav {
    display: none; }
  .main__title {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.7px;
    line-height: 36px; }
  .main__text {
    font-size: 16px;
    line-height: 22px;
    margin: 32px 0 0 0; }
  .main__link {
    color: #ffffff;
    height: 50px;
    text-align: center;
    background-color: #d4000b;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1.1px;
    border: 2px solid #d4000b;
    padding: 17px 55px 18px;
    border-radius: 5px; }
  .main__button {
    margin: 50px 0 0 0; } }

/*# sourceMappingURL=main.css.map */
